form .input_field {
  padding: 0 10px;
  border-radius: 20px;
  background: var(--input-bg);
  color: var(--txt-p-h);
  border: 0.2px solid rgba(238, 238, 238, 0.6980392157);
}
form .input_field input {
  border: none;
  color: var(--txt-p-h);
  height: 70px;
}
.login-form a,span{
  color: var(--hading-color) !important;
}
.account-registration span{
   color: var(--hading-color) !important;
}
button[type="submit"]{
  padding: 21px;
  border-radius: 18px;
  width: 150px !important;
}
.regester .input_field {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.regester .input_field input {
  width: 50px;
  height: 50px;
  border: none;
  color: var(--txt-p-h);
  background: var(--bg-mini-dark);
}

.accordions__inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.accordions {
  margin-bottom: 100px;
}

.accordion {
  background: var(--mini-bg-2);
  width: auto;
  border-radius: 12px;
  height: 80px;
  will-change: height;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
@media (min-width: 1024px) {
  .accordion {
    height: 120px;
  }
}

.accordion__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  height: 80px;
  cursor: pointer;
  transition: background 0.3s ease, height 0.4s ease;
  background: none;
  border: none;
  width: 100%;
  border-radius: inherit;
}
@media (min-width: 1024px) {
  .accordion__header {
    height: 120px;
  }
}

.accordion.is-active {
  height: -moz-max-content;
  height: max-content;
}

.accordion.is-active .accordion__header {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordions.has-active-accordion .accordion:not(.is-active) .accordion__header {
  height: 50px;
}
@media (min-width: 1024px) {
  .accordions.has-active-accordion .accordion:not(.is-active) .accordion__header {
    height: 85px;
  }
}

.accordion__title {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  text-align: right;
  text-transform: uppercase;
  color: #f7f1e3;
}
@media (min-width: 1024px) {
  .accordion__title {
    font-size: 20px;
  }
}

.accordion__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}
@media (min-width: 1024px) {
  .accordion__icons {
    width: 25px;
    height: 25px;
  }
}

.accordion__icon,
.accordion__icon svg {
  width: inherit;
  height: inherit;
}

.accordion__icon.accordion__icon--expand svg {
  fill: var(--txt-white);
}

.accordion__icon.accordion__icon--close svg {
  fill: #ff5252;
}

.accordion__icon {
  opacity: 0;
  visibility: hidden;
  display: flex;
  position: absolute;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.accordion:not(.is-active) .accordion__icon--expand,
.accordion.is-active .accordion__icon--close {
  opacity: 1;
  visibility: visible;
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  padding: 0 24px;
  color: #efe9dc;
  text-align: justify;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  transition: opacity 0.5s ease;
}
.accordion__content p {
  line-height: 40px !important;
}
@media (min-width: 1440px) {
  .accordion__content {
    flex-direction: row;
  }
}

.accordion__content figure {
  display: flex;
  flex: 0.35;
}

.accordion__content img {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
}

.accordion.is-active .accordion__content {
  padding-top: 24px;
  opacity: 1;
  visibility: visible;
  max-height: initial;
  transition-delay: 0.6s;
}
@media (min-width: 1024px) {
  .accordion.is-active .accordion__content {
    padding-top: 48px;
  }
}/*# sourceMappingURL=components.css.map */



.dropdown-wrapper {
  position: relative;
  width: 100%;
  padding: 12px 15px;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: none;
  background: white;
  transition: all 0.3s ease-out;
  border-radius: 11px;
}
.dropdown-wrapper span {
  color: red !important;
}
.dropdown-wrapper:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: red transparent;
}
.dropdown-wrapper.is-active {
  border-radius: 5px 5px 0 0;
  background: green;
  box-shadow: none;
  border-bottom: none;
  color: white;
}
.dropdown-wrapper.is-active:after {
  border-color: #ffffff transparent;
  transform: rotate(180deg);
}
.dropdown-wrapper.is-active .dropdown-list {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  max-height: 400px;
}

.dropdown-list {
  /* Size & position */
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  /* Styles */
  background: #fff;
  border-radius: 0 0 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  border-bottom: none;
  list-style: none;
  transition: all 0.3s ease-out;
  /* Hiding */
  max-height: 0;
  overflow: hidden;
}
.dropdown-list li {
  padding: 0 10px;
}
.dropdown-list li:hover a {
  color: #f05b55;
}
.dropdown-list li:last-of-type a {
  border: none;
}
.dropdown-list a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 10px 0;
  transition: all 0.3s ease-out;
  border-bottom: 1px solid #e6e8ea;
}

/* کد های مربوط به دکمه روشن خاموش شدن سایت */
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.support {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.support a {
  color: #292c35;
  font-size: 32px;
  backface-visibility: hidden;
  display: inline-block;
  transition: transform 0.2s ease;
}

.support a:hover{
  transform: scale(1.1);
}